form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
}
  
label {
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: bold;
}
  
input {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}
  
button {
    background-color: #0a75bc;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}
  
button:hover {
    background-color: #fce029;
}
  
input:invalid {
    border-color: red;
}
  